.aboutContainer {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 155px 0px 0px 0px;
  background-image: url("../../assets/home/about/Line\ 6@2x.png");
  background-size: 270px 1.2px;
  background-repeat: no-repeat;
  background-position: 426px 273px;
}

.contentContainer {
  align-self: center;
  text-align: left;
  max-width: 49%;
  margin: 55px 0px;
}

.contentContainer h2 {
  font-size: 47px;
  font-weight: 600;
  margin: 30px 0px 30px 0px;
}

.contentContainer p {
  margin: 40px 0px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  opacity: 0.96;
  max-width: 93%;
}

.aboutBtn {
  margin: 80px 0px;
  padding: 21px 27px;
  border: 2px solid white;
  border-radius: 50px;
  max-width: 26%;
  font-size: 20px;
  text-align: center;
}

.aboutBtn:hover {
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
  transition: 0.3s;
}

.aboutImageContainer img {
  border: 50px solid #0e0c38;
  max-width: 80%;
}
